<!DOCTYPE HTML>
	<head>
		<title>Customer Relationship Management</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<header>
		<h1> Customer Relationship Management!</h1>
			<nav>
				<a href="/">Home</a>
			</nav>
	</header>

	<body>
		<div>
			<nav>
				<a href="/contacts">Contacts</a>
			</nav>
			<nav>
				<a href="/contacts/new">New Contacts</a>
			</nav>
			
		</div>
		<%= yield %>	
	</body>



	<footer></footer>
</html>